<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>SFU Cryptocurrency Club</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/images/sfucrypto.ico" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/bootstrap-grid.css" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/new.css" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121887825-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121887825-1');
        </script>

    </head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner flexbox center-column">
					<a href="/" class="logo"><img src="/images/club-logo.png" style="width: 9rem;"></a>
					<nav id="nav" class="align-end issubpage">
                        <a href="/" class="subpage-link">Home</a>
                        <a href="/register" class="subpage-link">Register</a>
                        <a href="/about" class="subpage-link">About Us</a>
                        <a href="/sfu_coin" class="subpage-link">SFU Coin</a>
                    </nav>
					<a href="#navPanel" class="navPanelToggle align-end"><span class="fa fa-bars subpage-hamburger"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
                <div class="inner flexbox center-column">
                    <h1 style="font-size: 40px;">About Us</h1>
                    <p>
                        The goal of the SFU Cryptocurrency Club is to raise awareness of Cryptocurrency, Blockchain, and distributed ledger technology (DLT). We provide networking opportunities with industry professionals, host info sessions and workshops.
                    </p>
                    <p>
                        We provide a platform for all SFU students to share and discuss all things Cryptocurrency. The topics that cover include but are not limited to DLT, technical analysis, market trends, and possible trading opportunities. We allow students at SFU engaged or interested in the Cryptocurrency space to bounce ideas off one another and learn from one another. Our main communication medium is our Discord Channel.
                    </p>
                </div>
                <div id="foot-button-container" class="flexbox center-row">
                    <footer class="button-footer">
                            <a href="https://discordapp.com/invite/sxXQJUM" target="_blank" class="button about-footer-button">Join Our Discord Chat</a>
                    </footer>
                    <footer class="button-footer">
                            <a href="/register" target="_blank" class="button about-footer-button">Register Now</a>
                    </footer>
                </div>
              
			</section>


            <footer id="footer">
                <div class="inner">

                    <h3>Get in touch</h3>

                    <form action="send_contact_us_email" method="post">

                        <div class="field half first">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" placeholder="Name">
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input name="email" id="email" type="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input value="Send Message" class="button alt" type="submit"></li>
                        </ul>
                    </form>

                    <div class="copyright">
                        &copy; SFU Cryptocurrency Club. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
                    </div>

                </div>
            </footer>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>