<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
            <title>SFU Blockchain Club</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="shortcut icon" href="/images/sfucrypto.ico" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
            <link rel="stylesheet" href="/assets/css/bootstrap-grid.css" />
            <link rel="stylesheet" href="/assets/css/main.css" />
            <link rel="stylesheet" href="/assets/css/new.css" />
        </head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner flexbox center-column">
					<a href="/" class="logo"><img src="/images/club-logo.png" style="width: 9rem;"></a>
					<nav id="nav" class="align-end issubpage">
                        <a href="/" class="subpage-link">Home</a>
                        <a href="/register" class="subpage-link">Register</a>
                        <a href="/about" class="subpage-link">About Us</a>
                        <!-- <a href="/sfu_coin" class="subpage-link">SFU Coin</a> -->
                    </nav>
					<a href="#navPanel" class="navPanelToggle align-end"><span class="fa fa-bars subpage-hamburger"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
                <div class="inner flexbox center-column">
                    <h3 style="font-size: 40px; margin-bottom: 0.2em">Message received, we will get back to you as soon as possible.</h1>
                </div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>