<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
            <title>SFU Cryptocurrency Club</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
            <link rel="stylesheet" href="/assets/css/bootstrap-grid.css" />
            <link rel="stylesheet" href="/assets/css/main.css" />
            <link rel="stylesheet" href="/assets/css/new.css" />
        </head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner flexbox center-column">
					<a href="/" class="logo"><img src="/images/club-logo.png" style="width: 9rem;"></a>
					<nav id="nav" class="align-end issubpage">
                        <a href="/" class="subpage-link">Home</a>
                        <a href="/register" class="subpage-link">Register</a>
                        <a href="/about" class="subpage-link">About Us</a>
                        <a href="/sfu_coin" class="subpage-link">SFU Coin</a>
                    </nav>
					<a href="#navPanel" class="navPanelToggle align-end"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
                <div class="inner flexbox center-column">
                    <h1 style="font-size: 40px;">SFU Coin</h1>
                    <div class="sfu-coin-h2">
                        <h2>
                            What is the SFU Coin?
                        </h2>
                    </div>
                    <p>
                        ​The SFU Coin will be a collaborative project, built by club members. The SFU Coin will be
                        built on the Ethereum network as an ERC-20 token. The coin will be freely distributed to all
                        members with consistent airdrops for members and will be tradeable on the EtherDelta
                        exchange.                    
                    </p>
                    <div class="sfu-coin-h2">
                        <h2>
                            What Will The SFU Coin Be Used For?
                        </h2>
                    </div>
                    <p>
                        The SFU Coin will be used to RSVP for club events such as presentations, networking
                        sessions, cryptocurrency conferences, and hangout events, and may possibly be used to
                        purchase goods and services on campus.
                    </p>
                </div>
			</section>


            <footer id="footer">
                <div class="inner">

                    <h3>Get in touch</h3>

                    <form action="send_contact_us_email" method="POST">

                        <div class="field half first">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" placeholder="Name">
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input name="email" id="email" type="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input value="Send Message" class="button alt" type="submit"></li>
                        </ul>
                    </form>

                    <div class="copyright">
                        &copy; SFU Cryptocurrency Club. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
                    </div>

                </div>
            </footer>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>